{{> header}}

<h1>{{site.title}}</h1>
<h2>Informe de ciutats</h2>

<ul>
  {{#each cities}}
    <li>
      <strong>{{name}}</strong> —
      País: {{lookup ../countries country}} —
      Població: 
      {{#if population}}
        {{population}}
      {{else}}
        <em>No disponible</em>
      {{/if}}
      —
      {{#if coastal}}
        🌊Costanera
      {{else}}
        Interior
      {{/if}}
      —
      {{#if (lte population ../threshold)}}
        <span class="badge small">Petita</span>
      {{else}}
        <span class="badge big">Gran</span>
      {{/if}}
    </li>
  {{/each}}
</ul>
